body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.loading-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-screen div {
  height: 50px;
  width: 15px;
  background-color: black;
  margin: 5px;
  border-radius: 10px;
  animation: bar 800ms ease infinite alternate-reverse; 
}

.loading-screen div:nth-child(2) {
  animation-delay: 200ms;
}

.loading-screen div:nth-child(3) {
  animation-delay: 400ms;
}

.loading-screen div:nth-child(4) {
  animation-delay: 600ms;
}

@keyframes bar {
  from {
    height: 50px;
  }

  to {
    height: 150px;
  }
}


.login-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.logo-container {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.buttons-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: aqua;
}

.buttons-container div:nth-child(1) {
  background-color: aqua;
}

.buttons-container div:nth-child(2) {
  background-color: rgb(223, 0, 0)
}

.middle-section {
  width: 100%;
}

.inputs-container {
  width: 100%; 
}

.inputs-container input {
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px;
  height: 50px;
  font-size: 16px;
}



.buttons-container {
  bottom: 0;
}



.social-login-btns {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.social-login-btns span {
  margin: 20px;
}

.chat-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-header {
  height: 60px;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.chat-header div:nth-child(1) {
  margin: 0 10px;
}

.signout-btn {
  margin: 0 10px;
  cursor: pointer;
}

.signout-btn svg {
  fill: #fff;
}

.signout-btn svg:hover {
  fill: #ff0000;
}

.chat-messages {
  flex-grow: 1;
  background-color: aqua;
  overflow-y: auto;
}

.chat-input-msg {
  border: 1px solid #000;
  box-sizing: border-box;
  font-size: 16px;
  height: 60px;
  width: 100%;
  padding: 0 10px;
}
